In [21]:
import pandas as pd
import csv

In [22]:
states = ['Alabama', 'Georgia', 'Louisiana', 'Mississippi', 'South Carolina']
# states = [['Alabama', 'AL'], ['Georgia', 'GA'], ['Louisiana', 'LA'], ['Mississippi', 'MS'], ['South Carolina', 'SC']]
# states_2 = ['AL', 'GA', 'LA', 'MS', 'SC']

print(states)

['Alabama', 'Georgia', 'Louisiana', 'Mississippi', 'South Carolina']

In [23]:
url_confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
# url_deaths = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv'
# url_tests = 'https://covidtracking.com/api/v1/states/daily.csv'

In [24]:
confirmed = pd.read_csv(url_confirmed)
# deaths = pd.read_csv(url_deaths)
# tests = pd.read_csv(url_tests)

In [25]:
confirmed.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,133,133,133,133,135,135,136,136,136,136
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,11,11,11,11,13,13,13,14,14,14
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,788,897,903,923,974,1043,1068,1118,1213,1252
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,51,51,51,51,51,51,51,53,53,53

In [26]:
confirmed = confirmed.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Country_Region', 'Lat', 'Long_', 'Combined_Key'], axis = 1)
# deaths = deaths.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population'], axis = 1)
# tests = tests.drop(['positive', 'negative', 'pending', 'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative', 'recovered', 'hash', 'dateChecked', 'death', 'hospitalized', 'totalTestResults', 'posNeg', 'fips', 'deathIncrease', 'hospitalizedIncrease', 'negativeIncrease', 'positiveIncrease', 'totalTestResultsIncrease'], axis = 1)

In [27]:
confirmed.rename(columns = {'Admin2':'County', 'Province_State':'State'}, inplace = True)
# # deaths.rename(columns = {'Admin2':'County', 'Province_State':'State'}, inplace = True)
# # tests.rename(columns = {'date':'Date', 'state':'State', 'total':'Tested'}, inplace = True)

In [28]:
confirmed = confirmed.loc[confirmed['State'].isin(states)].reset_index()
# deaths = deaths.loc[deaths['State'].isin(states)].reset_index()
# tests = tests.loc[tests['State'].isin(states_2)].reset_index()

In [29]:
confirmed

,index,County,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,5,Autauga,Alabama,0,0,0,0,0,0,0,...,19,19,19,23,24,26,26,25,26,28
1,6,Baldwin,Alabama,0,0,0,0,0,0,0,...,66,71,72,87,91,101,103,109,112,117
2,7,Barbour,Alabama,0,0,0,0,0,0,0,...,9,10,10,11,12,14,15,18,20,22
3,8,Bibb,Alabama,0,0,0,0,0,0,0,...,13,16,17,17,18,22,24,26,28,32
4,9,Blount,Alabama,0,0,0,0,0,0,0,...,12,13,14,16,17,18,20,20,21,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,3201,Unassigned,Alabama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424,3211,Unassigned,Georgia,0,0,0,0,0,0,0,...,1397,1218,1219,287,263,144,255,220,254,296
425,3219,Unassigned,Louisiana,0,0,0,0,0,0,0,...,54,54,56,56,56,56,56,57,58,59
426,3225,Unassigned,Mississippi,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
427,3241,Unassigned,South Carolina,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
confirmed = confirmed.drop(['index'], axis = 1)
# deaths = deaths.drop(['index'], axis = 1)
# tests = tests.drop(['index'], axis = 1)

In [31]:
confirmed

,County,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,Autauga,Alabama,0,0,0,0,0,0,0,0,...,19,19,19,23,24,26,26,25,26,28
1,Baldwin,Alabama,0,0,0,0,0,0,0,0,...,66,71,72,87,91,101,103,109,112,117
2,Barbour,Alabama,0,0,0,0,0,0,0,0,...,9,10,10,11,12,14,15,18,20,22
3,Bibb,Alabama,0,0,0,0,0,0,0,0,...,13,16,17,17,18,22,24,26,28,32
4,Blount,Alabama,0,0,0,0,0,0,0,0,...,12,13,14,16,17,18,20,20,21,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Unassigned,Alabama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424,Unassigned,Georgia,0,0,0,0,0,0,0,0,...,1397,1218,1219,287,263,144,255,220,254,296
425,Unassigned,Louisiana,0,0,0,0,0,0,0,0,...,54,54,56,56,56,56,56,57,58,59
426,Unassigned,Mississippi,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
427,Unassigned,South Carolina,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
# tests['Date'] = pd.to_datetime(tests['Date'], format='%Y%m%d').dt.strftime("%m/%d/%y")

NameError: name 'tests' is not defined

In [10]:
confirmed['State'].replace({'Alabama':'01', 'Georgia':'13', 'Louisiana':'22', 'Mississippi':'28', 'South Carolina':'45'}, inplace = True)
deaths['State'].replace({'Alabama':'01', 'Georgia':'13', 'Louisiana':'22', 'Mississippi':'28', 'South Carolina':'45'}, inplace = True)
tests['State'].replace({'AL':'01', 'GA':'13', 'LA':'22', 'MS':'28', 'SC':'45'}, inplace = True)

In [11]:
col_list = []
for item in confirmed.iloc[:, 2:]:
    col_list.append(item)

In [12]:
confired_clean = confirmed.melt(id_vars=['County', 'State'], value_vars=[col_list[0]], var_name = 'Date', value_name = 'Cases')
deaths_clean = deaths.melt(id_vars=['County', 'State'], value_vars=[col_list[0]], var_name = 'Date', value_name = 'Deaths')
tests_clean = tests.melt(id_vars=['Date', 'State'], value_vars=['Tested'], var_name = 'County', value_name = 'Cases')

In [15]:
for item in col_list[1:]:
    confirmed_clean = confirmed.melt(id_vars=['County', 'State'], value_vars=[item], var_name = 'Date', value_name = 'Cases')
    al_confirmed_clean = al_confirmed_clean.append(al_confirmed_clean_temp, ignore_index = True)
    al_deaths_clean_temp = al_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Deaths')
    al_deaths_clean = al_deaths_clean.append(al_deaths_clean_temp, ignore_index = True)

         County State     Date  Deaths
0       Autauga    01  1/22/20       0
1       Baldwin    01  1/22/20       0
2       Barbour    01  1/22/20       0
3          Bibb    01  1/22/20       0
4        Blount    01  1/22/20       0
..          ...   ...      ...     ...
423  Unassigned    01  1/22/20       0
424  Unassigned    13  1/22/20       0
425  Unassigned    22  1/22/20       0
426  Unassigned    28  1/22/20       0
427  Unassigned    45  1/22/20       0

[428 rows x 4 columns]

In [6]:
al_confirmed = confirmed.loc[confirmed['Province_State'] == 'Alabama'].reset_index()
ga_confirmed = confirmed.loc[confirmed['Province_State'] == 'Georgia'].reset_index()
la_confirmed = confirmed.loc[confirmed['Province_State'] == 'Louisiana'].reset_index()
ms_confirmed = confirmed.loc[confirmed['Province_State'] == 'Mississippi'].reset_index()
sc_confirmed = confirmed.loc[confirmed['Province_State'] == 'South Carolina'].reset_index()

In [7]:
al_deaths = deaths.loc[deaths['Province_State'] == 'Alabama'].reset_index()
ga_deaths = deaths.loc[deaths['Province_State'] == 'Georgia'].reset_index()
la_deaths = deaths.loc[deaths['Province_State'] == 'Louisiana'].reset_index()
ms_deaths = deaths.loc[deaths['Province_State'] == 'Mississippi'].reset_index()
sc_deaths = deaths.loc[deaths['Province_State'] == 'South Carolina'].reset_index()

In [8]:
al_tests = tests.loc[tests['state'] == '01'].reset_index()
ga_tests = tests.loc[tests['state'] == '13'].reset_index()
la_tests = tests.loc[tests['state'] == '22'].reset_index()
ms_tests = tests.loc[tests['state'] == '28'].reset_index()
sc_tests = tests.loc[tests['state'] == '45'].reset_index()

In [9]:
al_confirmed = al_confirmed.drop(['index'], axis = 1)
ga_confirmed = ga_confirmed.drop(['index'], axis = 1)
la_confirmed = la_confirmed.drop(['index'], axis = 1)
ms_confirmed = ms_confirmed.drop(['index'], axis = 1)
sc_confirmed = sc_confirmed.drop(['index'], axis = 1)

In [10]:
al_deaths = al_deaths.drop(['index'], axis = 1)
ga_deaths = ga_deaths.drop(['index'], axis = 1)
la_deaths = la_deaths.drop(['index'], axis = 1)
ms_deaths = ms_deaths.drop(['index'], axis = 1)
sc_deaths = sc_deaths.drop(['index'], axis = 1)

In [11]:
al_tests = al_tests.drop(['index'], axis = 1)
ga_tests = ga_tests.drop(['index'], axis = 1)
la_tests = la_tests.drop(['index'], axis = 1)
ms_tests = ms_tests.drop(['index'], axis = 1)
sc_tests = sc_tests.drop(['index'], axis = 1)

In [12]:
al_col_list = []
ga_col_list = []
la_col_list = []
ms_col_list = []
sc_col_list = []

In [13]:
for item in al_confirmed.iloc[:, 2:]:
    al_col_list.append(item)
for item in ga_confirmed.iloc[:, 2:]:
    ga_col_list.append(item)
for item in la_confirmed.iloc[:, 2:]:
    la_col_list.append(item)
for item in ms_confirmed.iloc[:, 2:]:
    ms_col_list.append(item)
for item in sc_confirmed.iloc[:, 2:]:
    sc_col_list.append(item)

In [14]:
al_confirmed_clean = al_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[al_col_list[0]], value_name = 'Cases')
ga_confirmed_clean = ga_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[ga_col_list[0]], value_name = 'Cases')
la_confirmed_clean = la_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[la_col_list[0]], value_name = 'Cases')
ms_confirmed_clean = ms_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[ms_col_list[0]], value_name = 'Cases')
sc_confirmed_clean = sc_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[ms_col_list[0]], value_name = 'Cases')

In [15]:
al_deaths_clean = al_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[al_col_list[0]], value_name = 'Deaths')
ga_deaths_clean = ga_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[ga_col_list[0]], value_name = 'Deaths')
la_deaths_clean = la_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[la_col_list[0]], value_name = 'Deaths')
ms_deaths_clean = ms_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[ms_col_list[0]], value_name = 'Deaths')
sc_deaths_clean = sc_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[ms_col_list[0]], value_name = 'Deaths')

In [16]:
for item in al_col_list[1:]:
    al_confirmed_clean_temp = al_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Cases')
    al_confirmed_clean = al_confirmed_clean.append(al_confirmed_clean_temp, ignore_index = True)
    al_deaths_clean_temp = al_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Deaths')
    al_deaths_clean = al_deaths_clean.append(al_deaths_clean_temp, ignore_index = True)
for item in ga_col_list[1:]:
    ga_confirmed_clean_temp = ga_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Cases')
    ga_confirmed_clean = ga_confirmed_clean.append(ga_confirmed_clean_temp, ignore_index = True)
    ga_deaths_clean_temp = ga_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Deaths')
    ga_deaths_clean = ga_deaths_clean.append(ga_deaths_clean_temp, ignore_index = True)
for item in la_col_list[1:]:
    la_confirmed_clean_temp = la_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Cases')
    la_confirmed_clean = la_confirmed_clean.append(la_confirmed_clean_temp, ignore_index = True)
    la_deaths_clean_temp = la_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Deaths')
    la_deaths_clean = la_deaths_clean.append(la_deaths_clean_temp, ignore_index = True)
for item in ms_col_list[1:]:
    ms_confirmed_clean_temp = ms_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Cases')
    ms_confirmed_clean = ms_confirmed_clean.append(ms_confirmed_clean_temp, ignore_index = True)
    ms_deaths_clean_temp = ms_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Deaths')
    ms_deaths_clean = ms_deaths_clean.append(ms_deaths_clean_temp, ignore_index = True)
for item in sc_col_list[1:]:
    sc_confirmed_clean_temp = sc_confirmed.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Cases')
    sc_confirmed_clean = sc_confirmed_clean.append(sc_confirmed_clean_temp, ignore_index = True)
    sc_deaths_clean_temp = sc_deaths.melt(id_vars=['Admin2', 'Province_State'], value_vars=[item], value_name = 'Deaths')
    sc_deaths_clean = sc_deaths_clean.append(sc_deaths_clean_temp, ignore_index = True)

In [17]:
al_combined_clean = pd.merge(al_confirmed_clean, al_deaths_clean, on = ['Admin2', 'Province_State', 'variable'])
ga_combined_clean = pd.merge(ga_confirmed_clean, ga_deaths_clean, on = ['Admin2', 'Province_State', 'variable'])
la_combined_clean = pd.merge(la_confirmed_clean, la_deaths_clean, on = ['Admin2', 'Province_State', 'variable'])
ms_combined_clean = pd.merge(ms_confirmed_clean, ms_deaths_clean, on = ['Admin2', 'Province_State', 'variable'])
sc_combined_clean = pd.merge(sc_confirmed_clean, sc_deaths_clean, on = ['Admin2', 'Province_State', 'variable'])

In [18]:
al_combined_clean.rename(columns = {'Admin2':'County', 'Province_State':'State', 'variable':'Date'}, inplace = True)
ga_combined_clean.rename(columns = {'Admin2':'County', 'Province_State':'State', 'variable':'Date'}, inplace = True)
la_combined_clean.rename(columns = {'Admin2':'County', 'Province_State':'State', 'variable':'Date'}, inplace = True)
ms_combined_clean.rename(columns = {'Admin2':'County', 'Province_State':'State', 'variable':'Date'}, inplace = True)
sc_combined_clean.rename(columns = {'Admin2':'County', 'Province_State':'State', 'variable':'Date'}, inplace = True)

In [19]:
al_combined_clean = al_combined_clean[['State', 'County', 'Date', 'Cases', 'Deaths']]
ga_combined_clean = ga_combined_clean[['State', 'County', 'Date', 'Cases', 'Deaths']]
la_combined_clean = la_combined_clean[['State', 'County', 'Date', 'Cases', 'Deaths']]
ms_combined_clean = ms_combined_clean[['State', 'County', 'Date', 'Cases', 'Deaths']]
sc_combined_clean = sc_combined_clean[['State', 'County', 'Date', 'Cases', 'Deaths']]

In [20]:
al_combined_clean['State'].replace({'Alabama':'01'}, inplace = True)
al_combined_clean = al_combined_clean[al_combined_clean.County != 'Unassigned']
al_combined_clean = al_combined_clean[al_combined_clean.County != 'Out of AL']

ga_combined_clean['State'].replace({'Georgia':'13'}, inplace = True)
ga_combined_clean['County'].replace({'Unassigned':'Unknown'}, inplace = True)
ga_combined_clean = ga_combined_clean[ga_combined_clean.County != 'Out of GA']

la_combined_clean['State'].replace({'Louisiana':'22'}, inplace = True)
la_combined_clean['County'].replace({'Unassigned':'Unknown'}, inplace = True)
la_combined_clean['County'].replace({'LaSalle':'La Salle'}, inplace = True)
la_combined_clean = la_combined_clean[la_combined_clean.County != 'Out of LA']

ms_combined_clean['State'].replace({'Mississippi':'28'}, inplace = True)
ms_combined_clean['County'].replace({'Unassigned':'Unknown'}, inplace = True)
ms_combined_clean = ms_combined_clean[ms_combined_clean.County != 'Out of MS']

sc_combined_clean['State'].replace({'South Carolina':'45'}, inplace = True)
sc_combined_clean = sc_combined_clean[sc_combined_clean.County != 'Unassigned']
sc_combined_clean = sc_combined_clean[sc_combined_clean.County != 'Out of SC']

In [21]:
al_tests['state'].replace({'AL':'01'}, inplace = True)
ga_tests['state'].replace({'GA':'13'}, inplace = True)
la_tests['state'].replace({'LA':'22'}, inplace = True)
ms_tests['state'].replace({'MS':'28'}, inplace = True)
sc_tests['state'].replace({'SC':'45'}, inplace = True)

In [22]:
al_tests.rename(columns = {'date':'Date', 'state':'State', 'total':'Tested'}, inplace = True)
ga_tests.rename(columns = {'date':'Date', 'state':'State', 'total':'Tested'}, inplace = True)
la_tests.rename(columns = {'date':'Date', 'state':'State', 'total':'Tested'}, inplace = True)
ms_tests.rename(columns = {'date':'Date', 'state':'State', 'total':'Tested'}, inplace = True)
sc_tests.rename(columns = {'date':'Date', 'state':'State', 'total':'Tested'}, inplace = True)

In [23]:
al_tests = al_tests.melt(id_vars=['Date', 'State'], value_vars=['Tested'], var_name = 'County', value_name = 'Cases')
ga_tests = ga_tests.melt(id_vars=['Date', 'State'], value_vars=['Tested'], var_name = 'County', value_name = 'Cases')
la_tests = la_tests.melt(id_vars=['Date', 'State'], value_vars=['Tested'], var_name = 'County', value_name = 'Cases')
ms_tests = ms_tests.melt(id_vars=['Date', 'State'], value_vars=['Tested'], var_name = 'County', value_name = 'Cases')
sc_tests = sc_tests.melt(id_vars=['Date', 'State'], value_vars=['Tested'], var_name = 'County', value_name = 'Cases')

In [24]:
al_tests.Cases = al_tests.Cases.astype('int64')
ga_tests.Cases = ga_tests.Cases.astype('int64')
la_tests.Cases = la_tests.Cases.astype('int64')
ms_tests.Cases = ms_tests.Cases.astype('int64')
sc_tests.Cases = sc_tests.Cases.astype('int64')

In [25]:
al_final = pd.concat([al_combined_clean, al_tests], sort = True).reset_index()
ga_final = pd.concat([ga_combined_clean, ga_tests], sort = True).reset_index()
la_final = pd.concat([la_combined_clean, la_tests], sort = True).reset_index()
ms_final = pd.concat([ms_combined_clean, ms_tests], sort = True).reset_index()
sc_final = pd.concat([sc_combined_clean, sc_tests], sort = True).reset_index()

In [26]:
al_final.Deaths.fillna(0, inplace = True)
al_final.Deaths = al_final.Deaths.astype('int64')
al_final = al_final.drop(['index'], axis = 1)
al_final = al_final[['State', 'County', 'Date', 'Cases', 'Deaths']]

ga_final.Deaths.fillna(0, inplace = True)
ga_final.Deaths = ga_final.Deaths.astype('int64')
ga_final = ga_final.drop(['index'], axis = 1)
ga_final = ga_final[['State', 'County', 'Date', 'Cases', 'Deaths']]

la_final.Deaths.fillna(0, inplace = True)
la_final.Deaths = la_final.Deaths.astype('int64')
la_final = la_final.drop(['index'], axis = 1)
la_final = la_final[['State', 'County', 'Date', 'Cases', 'Deaths']]

ms_final.Deaths.fillna(0, inplace = True)
ms_final.Deaths = ms_final.Deaths.astype('int64')
ms_final = ms_final.drop(['index'], axis = 1)
ms_final = ms_final[['State', 'County', 'Date', 'Cases', 'Deaths']]

sc_final.Deaths.fillna(0, inplace = True)
sc_final.Deaths = sc_final.Deaths.astype('int64')
sc_final = sc_final.drop(['index'], axis = 1)
sc_final = sc_final[['State', 'County', 'Date', 'Cases', 'Deaths']]

In [27]:
dss = pd.concat([al_final, ga_final, la_final, ms_final, sc_final])

In [28]:
al_final.to_csv('al-clean.csv', index=False)
ga_final.to_csv('ga-clean.csv', index=False)
la_final.to_csv('la-clean.csv', index=False)
ms_final.to_csv('ms-clean.csv', index=False)
sc_final.to_csv('sc-clean.csv', index=False)
dss.to_csv('dss-clean.csv', index=False)